
body{
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    
    text-shadow: coral;
}

#container{
    padding: 0em;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    border:  1px solid;
    border-color: brown;
    text-align: center;
    border-radius: 1.3em;
    

}
#cab{
    text-decoration: cornflowerblue;
    text-align: left;
    font-style: italic;
    background-color: brown;
    color: cornsilk;
    padding: 1em;
    font-size: larger;
    border-radius: 1em;
    
}
footer{
    background:  brown;
    text-align: center;
    padding: 1em;
    color: white;
    font-style: oblique;
    border-radius: 1.3em;
    border-color: brown;
    text-shadow: yellowgreen;
    font-weight: bold;

}